.jumbotron {
    background-color: yellowgreen;
    color:white;
    margin-top: 50px;

}

.footer {
    padding: 10px 10px 0 px 10 px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.card-hotel {
    flex: 1 300px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    

}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}


