@yellow:#9acd32;
@white: white;
.margenes (@top:0px, @bottom:0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron {
    background-color: @yellow;
    color:@white;
    .margenes(50px, 0px) }
  
  .footer {
    padding: 10px 10px 0 px 10 px;
    background-color: @yellow;
    .margenes(10px, 0px) ;
    color: @white; }
  
  .card-hotel {
    flex: 1 300px;
    .margenes(10px, 0px)  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  