.jumbotron {
  background-color: #9ACD32;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 px 10 px;
  background-color: #9ACD32;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #119c09; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-outline-info {
  color: #119c09 !important;
  border-color: #119c09; }
