$yellow: #9acd32;
$rojo: #cc1010;
$verde: #119c09;
$azul: #29099c;


@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;  
}

.jumbotron {
    background-color: $yellow;
    color:white;
    @include margenes(50px, 0px);

}

.footer {
    padding: 10px 10px 0 px 10 px;
    background-color: $yellow;
    @include margenes(10px, 0px)
    
}

.card-hotel {
    flex: 1 300px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: $verde;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    @include margenes(10px, 0px)
}

.btn-outline-info {
    color: $verde !important;
    border-color: $verde;
    
}

